:root {
  --title-color: #025951;
  --author-color: #02735e;
  --date-color: #127369;
  --text-color: #000000;
  --font-size: 1.1rem;
  --font-1: "Arvo", serif;
  --font-2: "Fira Sans", sans-serif;
  --img-gap: 10px;
  --img-width: 200px;
  --img-height: 500px;
}

* {
  box-sizing: border-box;
}
* {
}

.title {
  color: var(--title-color);
  font-family: var(--font-1);
  display: flex;
  justify-content: center;
}

.author {
  color: #02735e;
  font-family: var(--font-2);
}

.date {
  color: #127369;
  font-family: var(--font-1);
  font-size: var(--font-size);
}

.text {
  color: rgb(0, 0, 0);
  font-family: var(--font-2);
}

.example-img {
  display: flex;
  flex-direction: column;
  gap: var(--img-gap);
  max-width: var(--img-width);
  max-height: var(--img-length);
}
