* {
  box-sizing: border-box;
}

*{
  
  
  
}

.Title {
  color: #025951;
  font-family: "Arvo", serif;
  display: flex;
  justify-content: center;
}

.Author {
  color: #02735e;
  font-family: "Fira Sans", sans-serif;
}

.Date {
  color: #127369;
  font-family: "Arvo", serif;  
}

.Text {
  color: rgb(0, 0, 0);
  font-family: "Fira Sans", sans-serif;
}

.example-img {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  max-height: 200px;
}