:root {
  --main-font: sans-serif;
  --secondary-font: Impact, serif;
  --main-text-align: center;
  --secondary-align: right;
  --third-align:left;
  --color-primary: black;
  --color-secondary: brown;
  --color-third: burlywood;
  --font-size-tiny: 14px;
  --font-size-small: 18px;
  --font-size-medium: 30px;
  --font-size-large: 40px;
  --font-style-1: italic;
  --margin-size-0: 0;
  --margin-size-small: 5px;
  --margin-size-medium: 15px;
  --margin-size-auto: auto;
  --padding-1: 20px;
  --graphic-1: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}

body {
  background-image: var(--graphic-1);
  font-family: var(--main-font);
  padding: var(--padding-1);
}

.main-title {
  font-size: var(--font-size-large);
  margin-top: var(--margin-size-0);
  margin-bottom: var(--margin-size-medium);
}

.item-title {
  font-size: var(--font-size-medium);
}

.established {
  font-style: var(--font-style-1);
}

body {
  text-align:var(--main-text-align)
}

.menu {
  width: 80%;
  background-color: var(--color-third);
  margin-left: var(--margin-size-auto);
  margin-right: var(--margin-size-auto);
  padding: var(--padding-1);
  max-width: 500px;
}

img {
  display: block;
  margin-left: var(--margin-size-auto);
  margin-right: var(--margin-size-auto);
}

hr {
  height: 2px;
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.bottom-line {
  margin-top: var(--margin-size-medium);
}

.main-title,.item-title {
  font-family: var(--secondary-font);
}

.item p {
  display: inline-block;
  margin-top: var(--margin-size-small);
  margin-bottom: var(--margin-size-small);
  font-size: var(--font-size-small);
}

.flavor,
.dessert {
  text-align: var(--third-align);
  width: 75%;
}

.price {
  text-align: var(--secondary-align);
  width: 25%;
}

/* FOOTER */

footer {
  font-size: var(--font-size-tiny);
}

.address {
  margin-bottom: var(--margin-size-small);
}

a {
  color: var(--color-primary);
}

a:visited {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-secondary);
}

a:active {
  color: var(--color-secondary);
}
